<nav>
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo">SGPF</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/analistas" routerLinkActive="active">Analistas</a></li>
      <li><a routerLink="/empresas" routerLinkActive="active">Empresas</a></li>
      <li><a routerLink="/sistemas" routerLinkActive="active">Sistemas</a></li>
      
      <li><a routerLink="/projetos" routerLinkActive="active">Contagem-Projeto</a></li>

      <li><a routerLink="/relatorios" routerLinkActive="active">Relatórios</a></li>

    </ul>
  </div>
</nav>
