<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="name" type="text" class="validate"
               [(ngModel)]="analista.name" formControlName="name"
               [class.invalid]="form.controls['name'].touched && !form.controls['name'].valid"
        >
        <label for="name"
               [class.active]="analista.name"
               data-error="Name is required and needs to contain at least 3 chars">
          Name
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="email" type="email" class="validate"
               [(ngModel)]="analista.email" formControlName="email"
               [class.invalid]="form.controls['email'].touched && !form.controls['email'].valid">
        <label for="email"
               [class.active]="analista.email"
               data-error="Invalid Email">
          Email
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">phone</i>
        <input id="phone" type="text" class="validate"
               [(ngModel)]="analista.phone" formControlName="phone">
        <label for="phone" [class.active]="analista.phone">Phone</label>
      </div>
    </div>
    
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="!form.valid">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
